.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list__item {
    display: grid;
    grid-template-columns: 35px 1fr 35px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
}

.list__item--hidden {
    display: none;
}

.list__container {
    padding: 10px;
    margin: 2px 0;
    background-color: #fff;
    max-width: auto;
}

.list__content {
    justify-content: center;
    overflow-wrap: anywhere;
    margin: 10px;
}

.list__content--done {
    text-decoration: line-through;
}

.list__button {
    margin: 10px 0;
    padding: 5px;
    font-size: 25px;
    height: 38px;
    border: none;
    color: white;
    transition: background 0.3s;
}

.list__button--done {
    transition: 1s;
    background-color: green;
    grid-column: 1;
}

.list__button--done:hover {
    background-color: rgb(9, 145, 9);
    transform: scale (1.5);
}

.list__button--remove {
    transition: 1s;
    background-color: red;
    grid-column: 3;
    justify-content: center;
}

.list__button--remove:hover {
    background-color: rgb(172, 46, 46);
    transform: scale (1.5);
}